<h1>Tasks:</h1>

<div>
    <% @tasks.each do |task| %>
        <label>
            <form action="/tasks/<%=task.id%>" method="post">
                <input type="checkbox" name="task[completed]" value=true <%if task.completed == true%> checked='checked' disabled='disabled'<% end %>>
                <span><a href="/tasks/<%=task.id%>"><%= task.name %></a></span>
                <% unless task.completed == true %>
                <input type="submit" value="Complete">
                <% end %>
            </form>
        </label>
    <% end %>
</div>