body {
  background-image: url("../images/max-whitehead-o2kvosAH1Bg-unsplash.jpg");
  background-color: tan;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form {
  text-align: center;
  background-color: rgba(228, 202, 205, 1);
  border-style: double;
  border-color: black;
  max-width: 60vw;
  padding: 10px;
  margin-top: 25 px;
}

li form {
  display: inline-block;
  color: white;
}

li form input {
  display: inline-block;
  position: relative;
  color: white;
}

nav div {
  background: blue;
  padding: 10px;
  padding-bottom: 20px;
  border-style: solid;
  border-radius: 25px;
  float: right;
  margin-top: 25px;
}
nav div a {
  text-align: right;
  color: black;
  text-decoration: none;
  font-size: 30px;
  border-color: blue;
  background: orange;
  border-style: outset;
  border-radius: 25px;
  padding: 10px;
}

.no-dec {
  text-decoration: none;
}

.btn {
  text-align: right;
  color: black;
  text-decoration: none;
  font-size: 30px;
  border-color: blue;
  background: orange;
  border-style: outset;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

.ani-desc {
  animation-name: description;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: absolute;
  max-width: 33%;
  max-height: 33%;
  background-color: rgba(228, 202, 205, 0.9);
  z-index: 3;
  padding: 10px;
  left: 10%;
  border: solid;
  border-radius: 10px;
}

.ani-cont {
  overflow: hidden;
  animation-name: contribution;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: absolute;
  max-width: 33%;
  max-height: 33%;
  background-color: rgba(228, 202, 205, 1);
  z-index: 1;
  padding: 10px;
  left: 10%;
  border: solid;
  border-radius: 10px;
}

.ani-vid {
  animation-name: video;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 10%;
  max-width: 33%;
  max-height: 33%;
  background-color: rgba(228, 202, 205, 0.9);
  z-index: 2;
  padding: 10px;
  border: solid;
  border-radius: 10px;
}

.container {
  color: black;
  background-color: rgba(228, 202, 205, 0.9);
  display: flex;
  flex-wrap: wrap;
  border: 1px black solid;
}

.card {
  text-align: center;
  padding: 2px 16px;
  border: 4px black solid;
  margin: 2px;
  width: 30%;
  min-height: 25%;
  max-height: 40%;
  color: black;
}

.content {
  border: 10px, solid, black;
  max-width: 75%;
  padding: 40px;
  margin: auto;
  color: black;
  stroke-opacity: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(228, 202, 205, 0.9);
}

.e-title {
  font-size: 50px;
  display: inline-block;
}
.fixed-pos {
  position: fixed;
  z-index: 999;
  box-shadow: 10px;
  margin-top: -40px;
}

.e-img {
  border: 2px black dotted;
}

.show-more {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 30px;
  background: rgba(228, 202, 205, 0.9);
  display: block;
}

@keyframes description {
  0% {
    left: 20%;
    top: 20%;
  }
  100% {
    left: 50%;
    top: 20%;
  }
}

@keyframes contribution {
  0% {
    left: 20%;
    top: 20%;
  }
  33% {
    left: 50%;
    top: 20%;
  }
  66% {
    left: 50%;
    top: 60%;
    max-width: 33%;
  }

  100% {
    left: 10%;
    top: 60%;
    max-width: 80%;
    width: 100%;
  }
}
/* The element to apply the animation to */
