.fixed-pos {
  position: fixed;
  z-index: 999;
  background-color: black;
  box-shadow: 10px;
}

.content {
  position: relative;
}

.fixed-pos + .content {
  padding-top: 60px;
}

nav a {
  position: relative;
}
