.fixed-pos {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: black;
  z-index: 5px;
  box-shadow: 10px;
}

.content {
  scroll-behavior: smooth;
  position: relative;
}

.fixed-pos + .content {
  padding-top: 60px;
}
