<h1><%= @user.name %> profile:</h1>
<div>
    <a href="/projects/new"><i class="material-icons left" >create_new_folder</i>Create New Project</a>
    
    <% if current_user == @user %>
        <a href="/users/<%=@user.id%>/edit" class="left grey darken-4 waves-effect waves-light btn-small"> <i class="material-icons" >construction</i> Edit Profile</a>
    <% end %>
</div>