
<% if params[:query] && params[:query] != "" %>
    <h1>Search results for <%= params[:query]%></h1>
<% else %>
    <h1>List of All Projects.</h1>
<% end %>


<a href="/projects/new" class="right grey darken-4 waves-effect waves-light btn-small"><i class="material-icons left" >create_new_folder</i>Create New Project</a>
